include README.md
include LICENSE
recursive-include docs *
recursive-include djangocopy/templates *
recursive-include djangocopy/templatetags *
recursive-include djangocopy/static *
recursive-include djangocopy/geoip2 *