<h1>Welcome to Django-copy</h1>
    
<h2>This is the sample template</h2>

<p>This is a sample page. The template is stored you project under `templates/djangocopy`
    and is loaded automatically when the website initialises<p>
        
<p>You can find all the templates in the admin on the <a href="/admin/djangocopy/template/">panel</a></p>


<h2>User defined copy</h2>

<p>Below we add some user defined content. To populate the content you need to add copy entries again 
    using the admin. Go ahead and create a plaintext entry called `paragraph` and a JSON list called
    `listitems`</p>

{% if request.copy.paragraph %}
    <p>{{ request.copy.paragraph }}</p>
{% else %}
    <p> No `paragraph` copy setup. Set it using this <a href="/admin/djangocopy/copy/">link</a></p>
{% endif %}

{% if request.copy.listitems %}
    <ul>
        {% for item in request.copy.listitems %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p> No `listitems` copy setup. Set it using this <a href="/admin/djangocopy/copy/">link</a></p>
{% endif %}
