{% if messages %}
<div class="container">
    <div class="row justify-content-center m-2">
        <div class="col-md-10 col-lg-8">
            {% for m in messages %}
                <div class="alert alert-{% if m.tags %}{{ m.tags }}{% else %}secondary{% endif %} alert-dismissible fade show" role="alert">
                {{ m }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}