{% extends "djangocopy/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container h-100">
	<div class="row h-100 justify-content-center align-items-center">
		<div class="col-md-6">
			<h1 class="text-center mb-4">Sign In</i></h1>
			<form class="login" method="POST" action="{% url 'login' %}">
				{% csrf_token %}
				<div class="form-group mb-3">
					<label for="{{ form.username.id_for_label }}">Username</label>
					<input type="{{ form.username.widget.input_type }}"
						name="{{ form.username.html_name }}"
						class="form-control"
						value="{{ form.username.value|default:'' }}">
				</div>
				<div class="form-group mb-3">
					<label for="{{ form.password.id_for_label }}">Password</label>
					<input type="{{ form.password.widget.input_type }}"
						name="{{ form.password.html_name }}"
						class="form-control"
						value="{{ form.password.value|default:'' }}">
				</div>
				{% if redirect_field_value %}
					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				{% endif %}
				<div class="form-actions">
					<button class="btn btn-primary" type="submit">Sign In</button>
					<a class="btn" href="/accounts/password_reset">Reset Password</a>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
