html,body {
    width: 100%;
    margin:0px;
}

.cms-heading {
    width:100%;
    text-align:center;
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

.cms-panel-light {
    width:100%;
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

.cms-panel-grey {
    background-color: #f1f1f1;
    width:100%;
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
}
